@use "../utils/mixins" as *;

.buttons {

  user-select: none;
  display: flex;
  align-items: center;

  gap: 1.5rem;


  button {
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
  }


  .sender {

    height: 60px;

    aspect-ratio: 1 / 1;
    cursor: pointer;


    img {
      height: 100%;
      width: 100%;


      filter: brightness(75%);
    }


    @include respond(phone) {
      height: 40px;
      width: 40px;
    }

  }

  .setting_icon {
    width: 40px;
    aspect-ratio: 1 / 1;

    img {
      height: 100%;
      width: 100%;


      filter: brightness(75%);
    }

    @include respond(phone) {
      height: 30px;
      width: 30px;
    }
  }


  @include respond(phone) {
    gap: 1rem;
  }
}