:root {
  font-family: "Almendra", serif;

  --bg-color: #f5f5f5;
  --text-color: #232323;
  --main-color: #7e6436;

}


html, body {
  background-color: #232323;
}


.layout {
  height: 100dvh;
  width: 100%;


  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;


  transition: all 0.3s ease-in-out;
  color: var(--text-color);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(/src/assets/images/bg.webp) center center no-repeat;
  background-size: cover;
}

::selection {
  background-color: var(--main-color);
  color: rgba(255, 255, 255, 0.66);
}

.joyride-tooltip {
  background-color: red !important;
}