:root {
  font-family: "Almendra", serif;

  --bg-color: #f5f5f5;
  --text-color: #232323;
}

[data-theme="dark"] {
  --bg-color: #232323;
  --text-color: #f5f5f5;
}


.layout {
  min-height: 100dvh;
  width: 100%;


  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;


  transition: all 0.3s ease-in-out;
  color: var(--text-color);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(src/assets/images/bg.webp) center center no-repeat;
  background-size: cover;

  button {
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
  }

  .buttons {


    display: flex;
    align-items: center;

    gap: 2rem;

    .sender {


      height: 70px;
      width: 70px;
      cursor: pointer;


      img {
        height: 100%;
        width: 100%;


        filter: brightness(75%);
      }

    }

    .setting_icon {
      height: 40px;
      width: 40px;


      img {
        height: 100%;
        width: 100%;


        filter: brightness(75%);
      }
    }
  }
}

::selection {
  background-color: #7e6436;
  color: white;
}